:root {
  /* Colors */
  --background: #121212;
  --background-fade: linear-gradient(#12121200, #121212);
  --container: #2a2a2a;
  --text: #ffffff;
  --text-muted: #9e9e9e;
  --player: #285070;
  --black: #000000;
  --light-black: #4d4d4d;

  /* Spacing */
  --body-x-padding: 1.25rem;
}

@media screen and (min-width: 1200px) {
  :root {
    --body-x-padding: 2.5rem;
  }
}

body {
  min-height: 100vh;
  padding: 2.25rem var(--body-x-padding) 5rem var(--body-x-padding);
  background-color: var(--background);
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 1200px) {
  body {
    /* font-family: "Inter Tight", sans-serif; */
  }
}

.recent-tracks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 900px) {
  .recent-tracks {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3.25rem;
  }
}

.track-card {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-right: 1rem;
  max-height: 3.25rem;
  background-color: var(--container);
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 0.75rem;
}

@media screen and (min-width: 600px) {
  .track-card {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1200px) {
  .track-card {
    gap: 1rem;
    max-height: 4.25rem;
    font-size: 1rem;
    font-weight: 700;
  }
}

.track-card__img {
  height: 100%;
}

.section-title {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
}

@media screen and (min-width: 900px) {
  .section-title {
    font-size: 1.5rem;
  }
}

.mixes {
  display: flex;
  gap: 1rem;
  margin: 0 calc(-1 * var(--body-x-padding)) 2.25rem
    calc(-1 * var(--body-x-padding));
  padding: 0 var(--body-x-padding);
  overflow: scroll;
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mixes::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1200px) {
  .mixes {
    margin-bottom: 3.25rem;
  }
}

.mix-card {
  display: block;
  min-width: 0;
  flex-shrink: 0;
  text-decoration: none;
  color: var(--text-muted);
}

.mix-card--size-normal {
  flex-basis: 9.5rem;
}

@media screen and (min-width: 900px) {
  .mix-card--size-normal {
    flex-basis: 11rem;
  }
}

@media screen and (min-width: 1200px) {
  .mix-card--size-normal {
    flex-basis: 13rem;
  }
}

.mix-card--size-small {
  flex-basis: 5.5rem;
}

@media screen and (min-width: 900px) {
  .mix-card--size-small {
    flex-basis: 6.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .mix-card--size-small {
    flex-basis: 8rem;
  }
}

.mix-card__img {
  width: 100%;
  margin-bottom: 0.75rem;
}

.mix-card__img--rounded {
  border-radius: 6px;
}

.mix-card__img--circle {
  border-radius: 100%;
}

.mix-card__text {
  font-size: 0.75rem;
}

@media screen and (min-width: 900px) {
  .mix-card__text {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1200px) {
  .mix-card__text {
    font-size: 1rem;
  }
}

.mix-card__text--title {
  font-weight: 600;
  color: var(--text);
}

.mix-card__text--single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mix-card__text--double-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Player */

.player {
  z-index: 10;
  position: fixed;
  left: calc(0.5 * var(--body-x-padding));
  right: calc(0.5 * var(--body-x-padding));
  bottom: 1rem;
  display: grid;
  grid:
    "image title control" 1fr
    "image desc control" 1fr
    "timeline timeline timeline" auto
    / min-content 1fr auto;
  background-color: var(--player);
  font-size: 0.75rem;
  border-radius: 8px;
  overflow: hidden;
}

.player__bg-fade {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8rem;
  background-image: var(--background-fade);
}

.player__img-wrapper {
  grid-area: image;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
}

.player__img {
  min-width: 2.5rem;
  border-radius: 6px;
}

.player__title {
  grid-area: title;
  align-self: end;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--text);
}

.player__description {
  grid-area: desc;
  color: var(--text-muted);
}

.player__controls {
  grid-area: control;
  place-self: center;
}

.player__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  padding: 0;
}

.player__btn:hover {
  cursor: pointer;
}

.player__btn-icon {
  fill: var(--text);
}

.player__btn-icon--big {
  display: none;
}

.player__skip-btn {
  display: none;
}

.player__timeline-wrapper {
  grid-area: timeline;
}

.player__timestamp {
  display: none;
  font-size: 0.75rem;
}

.player__timeline {
  height: fit-content;
  background-color: #3d6078;
  border-radius: 1rem;
  overflow: hidden;
}

.player__elapsed {
  height: 0.125rem;
  background-color: #bac2bd;
}

@media screen and (min-width: 600px) {
  .player {
    grid:
      "image title control volume" 1fr
      "image desc timeline volume" 1fr
      / min-content auto 1fr auto;

    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    border-radius: 0;
    font-size: 0.9rem;
  }

  .player__bg-fade {
    display: none;
  }

  .player__img-wrapper {
    padding: 1rem;
  }

  .player__img {
    min-width: 3.75rem;
  }

  .player__title {
    font-size: 1rem;
  }

  .player__description {
    font-size: 0.9rem;
  }

  .player__controls {
    display: flex;
    place-self: end center;
    margin-bottom: -0.25rem;
  }

  .player__btn {
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--text);
    margin: 0 1.5rem;
  }

  .player__btn-icon {
    fill: var(--black);
  }

  .player__btn-icon--big {
    display: block;
  }

  .player__btn-icon--small {
    display: none;
  }

  .player__skip-btn {
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  .player__skip-btn:hover {
    cursor: pointer;
  }

  .player__timeline-wrapper {
    width: 70%;
    height: min-content;
    padding-top: 0.75rem;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .player__timestamp {
    display: block;
    color: var(--text-muted);
  }

  .player__timeline {
    width: 100%;
    background-color: var(--light-black);
  }

  .player__elapsed {
    height: 0.25rem;
    background-color: #ffffff;
  }
}
